@import "normalize.css";
@import "./fa-fonts.min.css";
@import "./Montserrat.scss";

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: 'Montserrat', 'Courier New', Courier, monospace;
  font-size: 16px;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: #067CE9;

  &:hover {
    text-decoration: underline;
  }
}
