@import '~/src/styles/media-queries.scss';

.button {
  display: inline-block;
  cursor: pointer;
  border: none;
  border-radius: 6px;
  padding: 20px;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  user-select: none;

  &:disabled, &[disabled] {
    cursor: default !important;
    pointer-events: none;
  }

  &.primary {
    color: #FFF;
    background-color: #8224E3;
  }

  &.bright-green {
    color: #FFF;
    background-color: #74D66F;
  }

  &.as_a {
    text-decoration: none;
  }
}
